*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#opacity {
    background-color: rgba(0, 0, 0, 0.519);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.838);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(177, 177, 177);
    color: white;
}

#tittle {
    font-size: 30px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}
#search {
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(63, 62, 62, 0.478);
    width: 80%;
    padding: 0px 10px;
}
button {
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(38, 38, 38, 0.521);
    padding: 0px 10px;
    color: rgb(95, 95, 95);
}

#warnning {
    text-align: center;
    display: none;
}
#loadingGif {
    width: 240px;
    display: none;
    margin-left: 60px;
}

#climaInfo {
    border-radius: 10px;
    font-size: 25px;
    background-color: rgba(24, 24, 24, 0.616);
    box-shadow: 0px 0px 3px rgb(41, 41, 41);
    padding: 20px 0;
    display: none;
}
#locationName {
    text-align: center;
    padding-bottom: 20px;
}

#climaCont {
    display: flex;
}
#temperature, #wind {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgb(154, 154, 154);
    align-items: center;
}

strong {
    font-size: 30px;
    color: white;
}

#tempInfo, #windInfo {
    display: flex;
    gap: 8px;
    margin: 5px 0;
}
#tempInfo #celsius {
    width: 15px;
    height: 34px;
    padding-top: 4px;
}
#tempImg {
    text-align: center;
    height: 80px;
    width: 120px;
    margin-top: 10px;
    overflow: hidden;
}
#tempImg img {
    width: 140px;
    margin-top: -35px;
    margin-left: -20px;
}

#windInfo #km {
    display: flex;
    align-items: end;
    padding-bottom: 3px;
}
#windIcon {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#windIcon #line {
    width: 2px;
    height: 30px;
    background-color: rgb(196, 196, 196);
    margin-top: 5px;
}

#fm {
    text-align: center;
    font-size: 15px;
    color: rgb(82, 81, 81);
}